.key-video {
  @include flex-column;
  gap: 8rem;

  margin-top: 4rem;

  @include mediaQuery(tablet) {
    gap: 4rem;
  }

  @include mediaQuery(mobile) {
    gap: 3rem;
  }

  &__text {
    @include flex-column;
    gap: 2rem;

    @include mediaQuery(tablet) {
      gap: 1rem;
    }

    @include mediaQuery(mobile) {
      gap: 1rem;
    }

    & > p {
      max-width: 40ch;
    }
  }
}
