.clear-local-storage {
  position: fixed;
  bottom: 13rem;

  @include glass-bright;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  padding-inline: 2rem;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $drop-shadow-light;

  left: $body-inline-padding-desktop;

  @include mediaQuery(desktop-large) {
    left: $body-inline-padding-desktop-large;
  }

  @include mediaQuery(desktop-xlarge) {
    bottom: 18rem;
    left: $body-inline-padding-desktop-xlarge;
  }

  @include mediaQuery(mobile) {
    left: $body-inline-padding-mobile;
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1.3rem;
    border: $border;
    border-radius: $border-radius-mobile;
  }

  @include mediaQuery(tablet) {
    left: $body-inline-padding-tablet;
    font-size: 1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1.3rem;
    border: $border;
    border-radius: $border-radius-mobile;
  }
}
