.volume {
  @include flex-column;
  padding-top: 25rem;

  @include mediaQuery(tablet) {
    padding-top: 10rem;
  }

  @include mediaQuery(mobile) {
    padding-top: 0;
  }

  &__title {
    align-items: end;

    scroll-margin-top: 20rem;

    &--non-reverse {
      @include flex-row;

      & > .volume__title-text {
        align-items: start;
      }

      & > * {
        text-align: start;
      }
    }

    &--reverse {
      @include flex-row-reverse;

      & > .volume__title-text {
        align-items: end;
      }

      & > * {
        text-align: end;
      }
    }

    &--volume-one {
      margin-bottom: 24rem;

      @include mediaQuery(tablet) {
        flex-direction: row-reverse;
        margin-bottom: 24rem;
      }

      @include mediaQuery(mobile) {
        flex-direction: row-reverse;
        margin-bottom: 16rem;
      }
    }

    &--volume-two {
      margin-bottom: 40rem;

      @include mediaQuery(tablet) {
        flex-direction: row;
        margin-bottom: 24rem;
      }

      @include mediaQuery(mobile) {
        flex-direction: row;
        margin-bottom: 16rem;
      }
    }

    &--volume-three {
      margin-bottom: 40rem;

      @include mediaQuery(tablet) {
        flex-direction: row-reverse;
        margin-bottom: 24rem;
      }

      @include mediaQuery(mobile) {
        flex-direction: row-reverse;
        margin-bottom: 16rem;
      }
    }

    &--volume-four {
      margin-bottom: 30rem;

      @include mediaQuery(tablet) {
        flex-direction: row;
        margin-bottom: 24rem;
      }

      @include mediaQuery(mobile) {
        flex-direction: row;
        margin-bottom: 16rem;
      }
    }

    &--volume-five {
      margin-bottom: 40rem;

      @include mediaQuery(tablet) {
        flex-direction: row-reverse;
        margin-bottom: 30rem;
      }

      @include mediaQuery(mobile) {
        flex-direction: row-reverse;
        margin-bottom: 19rem;
      }
    }

    &--volume-six {
      margin-bottom: 40rem;

      @include mediaQuery(tablet) {
        flex-direction: row;
        margin-bottom: 24rem;
      }

      @include mediaQuery(mobile) {
        flex-direction: row;
        margin-bottom: 16rem;
      }
    }

    &--volume-seven {
      margin-bottom: 40rem;

      @include mediaQuery(tablet) {
        flex-direction: row-reverse;
        margin-bottom: 24rem;
      }

      @include mediaQuery(mobile) {
        flex-direction: row-reverse;
        margin-bottom: 16rem;
      }
    }

    &--volume-eight {
      margin-bottom: 40rem;

      @include mediaQuery(tablet) {
        flex-direction: row;
        margin-bottom: 28rem;
      }

      @include mediaQuery(mobile) {
        flex-direction: row;
        margin-bottom: 17rem;
      }
    }
  }

  &__title-number {
    @include mediaQuery(mobile) {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
  }

  &__title-image,
  &__title-video {
    @include flex-row;
    @include flex-center;
    position: relative;

    @include glass-bright;

    border-radius: $border-radius;
    border: $border;

    box-shadow: $drop-shadow-light;

    overflow: hidden;

    &--volume-one {
      padding: 12rem 18rem;
      @include glass-bright;

      & > svg {
        animation-name: rotate;
        animation-duration: 35s;
        animation-iteration-count: infinite;
      }

      @include mediaQuery(tablet) {
        padding: 5rem 12rem;

        & > svg {
          height: 14rem;
          width: 14rem;
        }
      }

      @include mediaQuery(mobile) {
        padding: 3rem 7rem;

        & > svg {
          height: 10rem;
          width: 10rem;
        }
      }
    }

    &--volume-two {
      flex-basis: 50%;
      aspect-ratio: 6 / 4.5;

      @include mediaQuery(tablet) {
        flex-basis: 70%;
      }

      @include mediaQuery(mobile) {
        flex-basis: 70%;
      }
    }

    &--volume-three {
      flex-basis: 42%;
      aspect-ratio: 1 / 1;

      box-shadow: unset;
      border-radius: unset;
      border: unset;

      & .image-container {
        box-shadow: $drop-shadow-light;
        border-radius: $border-radius;
        border: $border;

        & img {
          filter: brightness(70%) !important;
        }

        & > .image-placeholder > img {
          filter: brightness(70%) blur(10px) !important;
        }
      }

      & video {
        filter: brightness(70%);
      }

      & .video-placeholder > img {
        filter: brightness(70%) blur(10px) !important;
      }

      z-index: -1;

      @include mediaQuery(tablet) {
        flex-basis: 70%;
      }

      @include mediaQuery(mobile) {
        flex-basis: 70%;
      }
    }

    &--volume-four {
      padding: 12rem 18rem;

      & > svg {
        animation: hover-big;
        animation-duration: 2.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: none;
      }

      @include mediaQuery(tablet) {
        padding: 5rem 12rem;

        & > svg {
          height: 14rem;
          width: 14rem;
        }
      }

      @include mediaQuery(mobile) {
        padding: 3rem 9rem;
        flex-basis: 80%;

        & > svg {
          width: 12rem;
          height: 12rem;
        }
      }
    }

    &--volume-five {
      flex-basis: 45%;

      aspect-ratio: 4 / 3;

      & img {
        object-fit: contain !important;
        height: 70%;
        align-self: center;
      }

      @include mediaQuery(tablet) {
        flex-basis: 80%;
      }

      @include mediaQuery(mobile) {
        flex-basis: 80%;
      }
    }

    &--volume-six {
      flex-basis: 50%;

      aspect-ratio: 6 / 4;

      @include mediaQuery(tablet) {
        flex-basis: 90%;
      }

      @include mediaQuery(mobile) {
        flex-basis: 70%;
      }
    }

    &--volume-seven {
      flex-basis: 50%;
      @include glass-bright;

      & > img {
        filter: drop-shadow($drop-shadow-light);
      }

      @include mediaQuery(tablet) {
        padding: 2rem;
        flex-basis: 100%;
      }

      @include mediaQuery(mobile) {
        flex-basis: 75%;
      }
    }

    &--volume-eight {
      position: relative;

      &::after {
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        content: "";
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 0.2);
        z-index: 5;
      }

      flex-basis: 50%;

      @include mediaQuery(tablet) {
        flex-basis: 90%;
      }

      @include mediaQuery(mobile) {
        flex-basis: 90%;
      }
    }
  }

  &__checkmark {
    @include flex-row;
    align-items: center;
    gap: 1rem;

    position: absolute;
    bottom: 2rem;

    @include mediaQuery(mobile) {
      bottom: 1rem;
    }

    & > svg {
      @include mediaQuery(mobile) {
        height: 2rem;
      }
    }

    & > p {
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-volume-one;

      @include mediaQuery(tablet) {
        display: none;
      }

      @include mediaQuery(mobile) {
        display: none;
      }
    }

    &--volume-one {
      left: 2rem;

      & > p {
        color: $color-volume-one;
      }

      @include mediaQuery(tablet) {
        left: unset;
        right: 2rem;
      }

      @include mediaQuery(mobile) {
        left: unset;
        right: 1rem;
      }
    }

    &--volume-two {
      right: 2rem;

      & > p {
        color: $color-volume-two;
      }

      @include mediaQuery(tablet) {
        right: unset;
        left: 2rem;
      }

      @include mediaQuery(mobile) {
        right: unset;
        left: 1rem;
      }
    }

    &--volume-three {
      left: 2rem;

      & > p {
        color: $color-volume-three;
      }

      @include mediaQuery(tablet) {
        left: unset;
        right: 2rem;
      }

      @include mediaQuery(mobile) {
        left: unset;
        right: 1rem;
      }
    }

    &--volume-four {
      right: 2rem;

      & > p {
        color: $color-volume-four;
      }

      @include mediaQuery(tablet) {
        left: 2rem;
        right: unset;
      }

      @include mediaQuery(mobile) {
        left: 1rem;
        right: unset;
      }
    }

    &--volume-five {
      left: 2rem;

      & > p {
        color: $color-volume-five;
      }

      @include mediaQuery(tablet) {
        left: unset;
        right: 2rem;
      }

      @include mediaQuery(mobile) {
        left: unset;
        right: 1rem;
      }
    }

    &--volume-six {
      right: 2rem;

      & > p {
        color: $color-volume-six;
      }

      @include mediaQuery(tablet) {
        left: 2rem;
        right: unset;
      }

      @include mediaQuery(mobile) {
        left: 1rem;
        right: unset;
      }
    }

    &--volume-seven {
      left: 2rem;

      & > p {
        color: $color-volume-seven;
      }

      @include mediaQuery(tablet) {
        left: unset;
        right: 2rem;
      }

      @include mediaQuery(mobile) {
        left: unset;
        right: 1rem;
      }
    }

    &--volume-eight {
      right: 2rem;

      z-index: 10;

      & > p {
        color: $color-volume-eight;
      }

      @include mediaQuery(tablet) {
        left: 2rem;
        right: unset;
      }

      @include mediaQuery(mobile) {
        left: 1rem;
        right: unset;
      }
    }
  }

  &__title-text {
    @include flex-column;

    filter: drop-shadow($drop-shadow-strong);

    &--volume-one {
      margin-bottom: -9.5rem;
      margin-left: -13rem;

      & > * {
        color: $color-volume-one;
      }

      @include mediaQuery(tablet) {
        margin-left: unset;
        margin-right: -20rem;
        margin-bottom: -13rem;
      }

      @include mediaQuery(mobile) {
        margin-left: unset;
        margin-right: -16rem;
        margin-bottom: -8.7rem;
      }
    }

    &--volume-two {
      margin-bottom: -18rem;
      margin-right: -20.5rem;

      & > * {
        color: $color-volume-two;
      }

      @include mediaQuery(tablet) {
        margin-right: unset;
        margin-bottom: -12.5rem;
        margin-left: -34.5rem;
      }

      @include mediaQuery(mobile) {
        margin-right: unset;
        margin-bottom: -10.9rem;
        margin-left: -20rem;
      }
    }

    &--volume-three {
      margin-bottom: -18.5rem;
      margin-left: -15.5rem;

      & > * {
        color: $color-volume-three;
      }

      @include mediaQuery(tablet) {
        margin-left: unset;
        margin-right: -30rem;
        margin-bottom: -12.5rem;
      }

      @include mediaQuery(mobile) {
        margin-left: unset;
        margin-right: -18.8rem;
        margin-bottom: -8.7rem;
      }
    }

    &--volume-four {
      align-items: start;
      margin-bottom: -9.8rem;
      margin-right: -12rem;

      & > * {
        color: $color-volume-four;
        text-align: end;
      }

      @include mediaQuery(tablet) {
        margin-right: unset;
        margin-left: -35rem;
        margin-bottom: -13rem;
      }

      @include mediaQuery(mobile) {
        margin-right: unset;
        margin-bottom: -9rem;
        margin-left: -22rem;
      }
    }

    &--volume-five {
      align-items: end;
      margin-bottom: -18.9rem;
      margin-left: -13rem;

      & > * {
        color: $color-volume-five;
      }

      @include mediaQuery(tablet) {
        margin-left: unset;
        margin-right: -25rem;
        margin-bottom: -18rem;
      }

      @include mediaQuery(mobile) {
        margin-left: unset;
        margin-right: -25rem;
        margin-bottom: -12.3rem;
      }
    }

    &--volume-six {
      align-items: start;
      margin-bottom: -14rem;
      margin-right: -20rem;

      & > * {
        color: $color-volume-six;
        text-align: end;
      }

      @include mediaQuery(tablet) {
        margin-right: unset;
        margin-bottom: -12.5rem;
        margin-left: -15rem;
      }

      @include mediaQuery(mobile) {
        margin-right: unset;
        margin-bottom: -8.7rem;
        margin-left: -14rem;
      }
    }

    &--volume-seven {
      align-items: start;
      margin-bottom: -18.5rem;
      margin-left: -20rem;

      & > * {
        color: $color-volume-seven;
        text-align: start;
      }

      @include mediaQuery(tablet) {
        margin-left: unset;
        margin-right: -17rem;
        margin-bottom: -13rem;
      }

      @include mediaQuery(mobile) {
        margin-left: unset;
        margin-right: -10rem;
        margin-bottom: -8.7rem;
      }
    }

    &--volume-eight {
      align-items: start;
      margin-bottom: -23rem;
      margin-right: -20rem;

      z-index: 10;

      & > * {
        color: $color-volume-eight;
        text-align: end;
      }

      @include mediaQuery(tablet) {
        margin-right: unset;
        margin-bottom: -16rem;
        margin-left: -33.5rem;
      }

      @include mediaQuery(mobile) {
        margin-right: unset;
        margin-bottom: -10.7rem;
        margin-left: -14.5rem;
      }
    }
  }

  &__title-name {
    margin-bottom: 1rem;

    &--volume-one {
      max-width: 70rem;

      @include mediaQuery(tablet) {
        max-width: 42rem;
      }

      @include mediaQuery(mobile) {
        max-width: 27rem;
      }
    }

    &--volume-two {
      max-width: 60rem;

      @include mediaQuery(tablet) {
        max-width: 32rem;
      }

      @include mediaQuery(mobile) {
        max-width: 22rem;
      }
    }

    &--volume-three {
      @include mediaQuery(mobile) {
        min-width: 33rem;
      }
    }

    &--volume-four {
      @include mediaQuery(tablet) {
        min-width: 50rem;
      }

      @include mediaQuery(mobile) {
        min-width: 24rem;
      }
    }

    &--volume-five {
      max-width: 70rem;

      @include mediaQuery(tablet) {
        max-width: 50rem;
      }

      @include mediaQuery(mobile) {
        max-width: 27rem;
      }
    }

    &--volume-six {
      max-width: 65rem;

      @include mediaQuery(tablet) {
        max-width: 34rem;
      }

      @include mediaQuery(mobile) {
        max-width: 24rem;
      }
    }

    &--volume-seven {
      max-width: 65rem;

      @include mediaQuery(tablet) {
        min-width: 35rem;
      }

      @include mediaQuery(mobile) {
        max-width: 24rem;
      }
    }

    &--volume-eight {
      max-width: 50rem;

      @include mediaQuery(tablet) {
        max-width: 34rem;
      }

      @include mediaQuery(mobile) {
        max-width: 24rem;
      }
    }
  }

  &__title-description {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.4;

    @include mediaQuery(tablet) {
      font-size: 2.4rem;
    }

    @include mediaQuery(mobile) {
      font-size: 1.6rem;
    }

    &--volume-one {
      max-width: 60rem;
    }

    &--volume-two {
      max-width: 70rem;

      @include mediaQuery(tablet) {
        max-width: 50rem;
      }

      @include mediaQuery(mobile) {
        max-width: 30rem;
      }
    }

    &--volume-three {
      max-width: 60rem;

      @include mediaQuery(mobile) {
        max-width: 33rem;
      }
    }

    &--volume-four {
      max-width: 70rem;
    }

    &--volume-five {
      max-width: 70rem;
    }

    &--volume-seven {
      max-width: 50rem;
      @include mediaQuery(mobile) {
        max-width: 25rem;
      }
    }

    &--volume-eight {
      @include mediaQuery(mobile) {
        max-width: 30rem;
      }
      max-width: 60rem;
    }
  }

  &__content {
    @include flex-column;
    gap: 16rem;

    @include mediaQuery(mobile) {
      gap: 4rem;
    }

    @include mediaQuery(tablet) {
      gap: 8rem;
    }
  }

  &__section {
    align-items: center;

    &--non-reverse {
      @include flex-row;
    }

    &--reverse {
      @include flex-row-reverse;
    }

    &--volume-one {
      &-section-one {
        & > .volume__textbox {
          padding-right: 11rem;
        }

        & > .volume__decoration {
          translate: 0 -6rem;
          margin-left: -14rem;
          scale: 1.1;
          rotate: -3deg;
        }
      }

      &-section-two {
        margin-top: -8rem;
        & > .volume__decoration {
          margin-right: -5rem;
          scale: -1.1 1.1;
        }

        & > .volume__image {
          & > .image-container {
            @include mediaQuery(mobile) {
              height: 50vw;
            }

            @include mediaQuery(tablet) {
              height: 42vw;
            }
          }
        }
      }

      &-section-three {
        & > .volume__textbox {
          padding-right: 11rem;
        }

        & > .volume__decoration {
          translate: 0 -8rem;
          margin-left: -8rem;
          scale: 1.2;
          rotate: 3deg;
        }
      }

      &-section-four {
        margin-top: -5rem;
        & > .volume__decoration {
          margin-right: -10em;
          translate: 0 -3rem;
          scale: -0.8 0.8;
        }

        & > .volume__image {
          & > .image-container {
            @include mediaQuery(mobile) {
              height: 40vw;
            }

            @include mediaQuery(tablet) {
              height: 35vw;
            }
          }
        }
      }

      &-section-five {
        margin-top: -3rem;
        & > .volume__textbox {
          padding-right: 11rem;
        }

        & > .volume__decoration {
          margin-left: -22rem;
          translate: -0rem -1rem;
          scale: 0.9;
        }
      }

      &-section-six {
        & > .volume__decoration {
          margin-right: -4em;
          flex-basis: 45%;
        }
        & > .volume__image {
          & > .image-container {
            @include mediaQuery(mobile) {
              height: 55vw;
            }
            @include mediaQuery(tablet) {
              height: 45vw;
            }
          }
        }
      }

      &-section-seven {
        margin-top: -5rem;
        margin-bottom: -10rem;

        & > .volume__textbox {
          padding-right: 11rem;
        }

        & > .volume__decoration {
          margin-left: -14rem;
          translate: -0rem -10rem;
        }
      }
    }

    &--volume-two {
      &-section-one {
        & > .volume__textbox {
          padding-right: 11rem;
        }

        & > .volume__decoration {
          margin-left: -12rem;
        }
      }

      &-section-two {
        & > .volume__decoration {
          margin-right: -10rem;
        }

        & > .volume__image {
          & > .image-container {
            @include mediaQuery(mobile) {
              height: 50vw;
            }

            @include mediaQuery(tablet) {
              height: 42vw;
            }
          }
        }
      }

      &-section-three {
        & > .volume__textbox {
          padding-right: 11rem;
        }

        & > .volume__decoration {
          scale: 1.15;
          margin-left: -24rem;
        }
      }

      &-section-four {
        & > .volume__decoration {
          margin-right: -6rem;
        }
      }

      &-section-five {
        & > .volume__textbox {
          padding-right: 11rem;
        }

        & > .volume__decoration {
          margin-left: -20rem;
          scale: 0.9;
        }
      }

      &-section-six {
        & > .volume__decoration {
          margin-right: -7.5rem;
        }

        & > .volume__image {
          & > .image-container {
            @include mediaQuery(mobile) {
              height: 50vw;
            }

            @include mediaQuery(tablet) {
              height: 42vw;
            }
          }
        }
      }

      &-section-seven {
        & > .volume__textbox {
          padding-right: 11rem;
        }

        & > .volume__decoration {
          margin-left: -16rem;
          translate: 0 1rem;
        }
      }
    }

    &--volume-three {
      &-section-one {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          // translate: 0 4rem;
          margin-left: -7rem;
          scale: 1.1;
          rotate: -2deg;
        }
      }

      &-section-two,
      &-section-four,
      &-section-six {
        @include flex-row;
        gap: 12rem;

        justify-content: center;
        align-items: start;

        @include mediaQuery(tablet) {
          @include flex-column;
          gap: 8rem;

          & > .volume__embed {
            margin-top: unset !important;
          }
        }

        @include mediaQuery(mobile) {
          @include flex-column;
          gap: 4rem;

          & > .volume__embed {
            margin-top: unset !important;
          }
        }
      }

      &-section-two,
      &-section-six {
        & > .volume__embed:first-of-type {
          margin-top: 12rem;
        }
      }

      &-section-four {
        & > .volume__embed:last-of-type {
          margin-top: 12rem;
        }
      }

      &-section-five {
        & > .volume__decoration {
          translate: 0 -4rem;
          scale: 0.9;
        }
      }

      &-section-three,
      &-section-five {
        & > .volume__textbox {
          padding-right: 12rem;
        }

        & > .volume__decoration {
          margin-left: -11rem;
        }
      }

      &-section-seven {
        & > .volume__textbox {
          padding-right: 12rem;
        }

        & > .volume__decoration {
          margin-left: -3rem;
          translate: 0 -4rem;
          scale: 1.3;
        }
      }
    }

    // &--volume-three {
    //   display: flex;

    //   gap: 16rem;

    //   align-items: start;

    //   padding-inline: 12rem;

    //   @include mediaQuery(desktop-xlarge) {
    //     gap: 20rem;
    //   }

    //   @include mediaQuery(tablet) {
    //     flex-direction: column-reverse;
    //     align-items: center;

    //     padding-inline: unset;

    //     gap: 8rem !important;
    //   }

    //   @include mediaQuery(mobile) {
    //     flex-direction: column-reverse;
    //     align-items: center;

    //     padding-inline: unset;

    //     gap: 4rem !important;
    //   }

    //   & .volume__textbox {
    //     flex-basis: 100%;
    //   }

    //   & > div {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: end;

    //     gap: 16rem;

    //     @include mediaQuery(tablet) {
    //       gap: 8rem !important;
    //       width: 100%;
    //     }

    //     @include mediaQuery(mobile) {
    //       gap: 4rem !important;
    //       width: 100%;
    //     }
    //   }

    //   & > div:first-of-type {
    //     & > .decoration {
    //       margin-top: -12rem;
    //       scale: 0.9;

    //       @include mediaQuery(desktop-xlarge) {
    //         margin-top: -18rem;
    //         scale: 0.85;
    //       }
    //     }
    //   }

    //   & > div:last-of-type {
    //     & > .decoration {
    //       margin-top: -12rem;
    //       scale: 0.7;
    //     }
    //   }

    //   &-section-one {
    //     gap: 24rem;

    //     & > div:first-of-type {
    //       & > .volume__decoration {
    //         margin-top: -14rem;
    //         scale: 0.9;
    //       }
    //     }
    //   }

    //   &-section-two {
    //     @include mediaQuery(tablet) {
    //       flex-direction: column;
    //     }

    //     @include mediaQuery(mobile) {
    //       flex-direction: column;
    //     }

    //     & > div:last-of-type {
    //       gap: 8rem;

    //       & > .volume__decoration {
    //         margin-top: -10rem;
    //         scale: 0.6;
    //       }
    //     }
    //   }

    //   &-section-three {
    //     margin-top: -4rem;
    //     & > div:first-of-type {
    //       @include mediaQuery(tablet) {
    //         display: none;
    //       }

    //       @include mediaQuery(mobile) {
    //         display: none;
    //       }

    //       & > .volume__decoration {
    //         margin-top: 1.5rem;
    //       }
    //     }
    //   }
    // }

    &--volume-four {
      &-section-one {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          // translate: 0 4rem;
          margin-left: -16rem;
          scale: 1.1;
          rotate: -2deg;
        }
      }

      &-section-two,
      &-section-four {
        @include flex-row;
        gap: 12rem;

        justify-content: center;
        align-items: start;

        @include mediaQuery(tablet) {
          @include flex-column;
          gap: 8rem;

          & > .volume__embed {
            margin-top: unset !important;
          }
        }

        @include mediaQuery(mobile) {
          @include flex-column;
          gap: 4rem;

          & > .volume__embed {
            margin-top: unset !important;
          }
        }
      }

      &-section-two {
        & > .volume__embed:first-of-type {
          margin-top: 12rem;
        }
      }

      &-section-four {
        & > .volume__embed:last-of-type {
          margin-top: 12rem;
        }
      }

      &-section-three,
      &-section-five {
        & > .volume__textbox {
          padding-right: 12rem;
        }

        & > .volume__decoration {
          margin-left: -11rem;
        }
      }
    }

    &--volume-five {
      &-section-one {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          translate: 0 -4rem;
          margin-left: -22rem;
          scale: 0.9;
          rotate: -2deg;
        }
      }

      &-section-two {
        margin-top: 7rem;
        & > .volume__image {
          margin-top: -8rem;
          flex-basis: 70%;

          & > .image-container {
            @include mediaQuery(mobile) {
              height: 50vw;
            }

            @include mediaQuery(tablet) {
              height: 42vw;
            }
          }
        }

        @include mediaQuery(tablet) {
          margin-top: 8rem !important;
        }

        @include mediaQuery(mobile) {
          margin-top: 8rem !important;
        }
      }

      &-section-three {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          translate: 0 -4rem;
          margin-left: -20rem;
          scale: 1.15;
          rotate: -2deg;
        }
      }

      &-section-four {
        & > .volume__video {
          flex-basis: 70%;
        }
      }

      &-section-five {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 50%;
        }

        & > .volume__decoration {
          translate: 0 -4rem;
          margin-left: -16rem;
          scale: 1;
          rotate: -2deg;
        }
      }
    }

    &--volume-six {
      & .volume__image-description {
        & > p {
          font-size: 1.6rem;
        }
      }

      &-section-one {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          translate: 0 0rem;
          margin-left: -21rem;
          scale: 1.1;
        }
      }

      &-section-two,
      &-section-four,
      &-section-six {
        @include flex-row;
        gap: 12rem;

        padding-inline: 6vw;

        & .image-container {
          aspect-ratio: 9 / 16 !important;
        }

        justify-content: center;
        align-items: start;

        @include mediaQuery(tablet) {
          flex-direction: column;
          align-items: center;
          padding-inline: unset;

          & .volume__image {
            max-width: 40vw;
          }

          gap: 8rem;
        }

        @include mediaQuery(mobile) {
          flex-direction: column;
          align-items: center;
          padding-inline: unset;
          gap: 4rem;
        }

        & > .volume__image {
          width: 100%;

          & > .volume__image-description {
            margin-inline: auto;

            @include mediaQuery(mobile) {
              margin-top: -2.3rem;
              & > p {
                font-size: 1.6rem;
              }
            }
          }
        }
      }

      &-section-two,
      &-section-six {
        & > .volume__image:first-of-type {
          margin-top: 12rem;

          @include mediaQuery(tablet) {
            margin-top: unset;
          }

          @include mediaQuery(mobile) {
            margin-top: unset;
          }
        }
      }

      &-section-three {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          translate: 0 0rem;
          margin-left: -15rem;
          scale: 1.1;
        }
      }

      &-section-four {
        & > .volume__image:last-of-type {
          margin-top: 12rem;

          @include mediaQuery(tablet) {
            margin-top: unset;
          }

          @include mediaQuery(mobile) {
            margin-top: unset;
          }
        }
      }

      &-section-five {
        margin-top: -5rem;
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          translate: 0 -2rem;
          margin-left: -14rem;
          scale: 1;
        }
      }

      &-section-six {
        margin-top: -5rem;
      }

      &-section-seven {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          translate: 0 1rem;
          margin-left: -10rem;
          scale: 1.2;
        }
      }
    }

    &--volume-seven {
      &-section-one {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          margin-left: -15rem;
        }
      }

      &-section-two,
      &-section-four {
        padding-inline: 16rem;
        justify-content: center;

        @include mediaQuery(tablet) {
          padding-inline: unset;
        }

        @include mediaQuery(mobile) {
          padding-inline: unset;
        }
      }

      &-section-three {
        & > .volume__textbox {
          padding-right: 16rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          translate: 0 -2rem;
          margin-left: -15rem;
        }
      }

      &-section-four {
        & > .volume__decoration {
          scale: 1.5;
          margin-left: 10rem;
        }
      }

      &-section-five {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          margin-left: -16rem;
          scale: 1.15;
        }
      }
    }

    &--volume-eight {
      &-section-one {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          margin-left: -12rem;
        }
      }

      &-section-three {
        & > .volume__textbox {
          padding-right: 16rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          translate: 0 -2rem;
          margin-left: -21rem;
        }
      }

      &-section-four {
        @include flex-row;
        gap: 12rem;

        justify-content: center;
        align-items: start;

        @include mediaQuery(tablet) {
          @include flex-column;
          gap: 8rem;

          & > .volume__embed {
            margin-top: unset !important;
          }
        }

        @include mediaQuery(mobile) {
          @include flex-column;
          gap: 4rem;

          & > .volume__embed {
            margin-top: unset !important;
          }
        }

        & > .volume__embed:first-of-type {
          margin-top: 12rem;
        }
      }

      &-section-five {
        & > .volume__textbox {
          padding-right: 14rem;
          flex-basis: 60%;
        }

        & > .volume__decoration {
          margin-left: -12rem;
          scale: 1.1;
        }
      }
    }

    @include mediaQuery(mobile) {
      margin: unset;
    }

    @include mediaQuery(tablet) {
      margin: unset;
    }
  }

  &__textbox {
    position: relative;

    @include flex-column;
    gap: 4rem;

    @include glass-gradient;

    flex-basis: 52%;

    padding: 3.2rem;

    border: $border;
    border-radius: $border-radius;

    box-shadow: $drop-shadow-light;

    @include mediaQuery(mobile) {
      flex: 1;
      padding: 2.4rem !important;
      gap: 2rem;
    }

    @include mediaQuery(tablet) {
      flex: 1;
      padding: 3.2rem !important;
    }

    &:before {
      filter: blur(2px);
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 3px;
      content: "";
      z-index: -1;
    }

    &--volume-one:before {
      background-image: linear-gradient(
        90deg,
        rgba(56, 189, 248, 0) 0%,
        rgba(14, 14, 255, 0.75) 40%,
        rgba(241, 69, 14, 0.75) 60%,
        rgba(236, 72, 153, 0) 100%
      );
    }

    &--volume-two:before {
      background-image: linear-gradient(
        90deg,
        rgba(56, 189, 248, 0) 0%,
        rgb(246, 94, 218) 40%,
        rgba(241, 69, 14, 0.75) 60%,
        rgba(236, 72, 153, 0) 100%
      );
    }

    &--volume-three:before {
      background-image: linear-gradient(
        90deg,
        rgba(56, 189, 248, 0) 0%,
        rgb(150, 146, 255) 40%,
        rgba(241, 69, 14, 1) 60%,
        rgba(236, 72, 153, 0) 100%
      );
    }

    &--volume-four:before {
      background-image: linear-gradient(
        90deg,
        rgba(56, 189, 248, 0) 0%,
        rgb(246, 94, 218) 40%,
        rgb(20, 196, 122) 60%,
        rgba(236, 72, 153, 0) 100%
      );
    }

    &--volume-five:before {
      background-image: linear-gradient(
        90deg,
        rgba(56, 189, 248, 0) 0%,
        rgba(85, 194, 13, 0.7) 40%,
        rgb(82, 87, 254) 60%,
        rgba(236, 72, 153, 0) 100%
      );
    }

    &--volume-six:before {
      background-image: linear-gradient(
        90deg,
        rgba(56, 189, 248, 0) 0%,
        rgb(246, 94, 218) 40%,
        rgb(248, 149, 151) 60%,
        rgba(236, 72, 153, 0) 100%
      );
    }

    &--volume-seven:before {
      background-image: linear-gradient(
        90deg,
        rgba(56, 189, 248, 0) 0%,
        rgb(82, 87, 254) 40%,
        rgb(246, 94, 218) 60%,
        rgba(236, 72, 153, 0) 100%
      );
    }

    &--volume-eight:before {
      background-image: linear-gradient(
        90deg,
        rgba(56, 189, 248, 0) 0%,
        rgb(82, 87, 254) 40%,
        rgb(248, 172, 0) 60%,
        rgba(236, 72, 153, 0) 100%
      );
    }
  }

  &__image {
    @include flex-column;
    align-items: flex-end;

    flex-basis: 60%;

    @include mediaQuery(mobile) {
      flex: 1;
    }

    @include mediaQuery(tablet) {
      flex: 1;
    }

    & > .image-container {
      border-radius: $border-radius;
      border: $border;

      box-shadow: $drop-shadow-light;
    }
  }

  &__video {
    @include flex-column;
    align-items: flex-end;

    flex-basis: 60%;

    @include mediaQuery(tablet) {
      flex: 1;
    }

    @include mediaQuery(mobile) {
      flex: 1;
    }

    & video {
      // border-radius: $border-radius;
      // border: $border;
    }
  }

  &__image-description {
    @include glass-bright-opaque;
    padding: 1.6rem 2.4rem;
    border-radius: $border-radius;
    border: $border;
    margin-top: -3.5rem;
    margin-right: 4.8rem;
    box-shadow: $drop-shadow-light;

    @include mediaQuery(mobile) {
      margin-right: 3rem;
      margin-top: -2rem;
      padding: 0.75rem 1.2rem;

      border-radius: $border-radius-mobile;

      & > p {
        font-size: 1.2rem;
      }
    }

    & > p {
      font-weight: 500;
    }
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes hover-big {
  from {
    translate: 0 10px;
  }
  to {
    translate: 0 -10px;
  }
}
