.volume {
  @include flex-column;
  padding-top: 25rem;

  @include mediaQuery(tablet) {
    padding-top: 10rem;
  }

  @include mediaQuery(mobile) {
    padding-top: 0;
  }

  &__title {
    align-items: end;

    scroll-margin-top: 25rem;

    @include mediaQuery(tablet) {
      scroll-margin-top: 17.5rem;
    }

    @include mediaQuery(mobile) {
      scroll-margin-top: 17.5rem;
    }

    &--non-reverse {
      @include flex-row;

      & > .volume__title-text {
        align-items: start;
      }

      & > * {
        text-align: start;
      }
    }

    &--reverse {
      @include flex-row-reverse;

      & > .volume__title-text {
        align-items: end;
      }

      & > * {
        text-align: end;
      }
    }
  }

  &__title-number {
    @include mediaQuery(mobile) {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
  }

  &__title-image,
  &__title-video {
    @include flex-row;
    @include flex-center;
    position: relative;

    @include glass-bright;

    border-radius: $border-radius;
    border: $border;

    box-shadow: $drop-shadow-light;

    overflow: hidden;
  }

  &__checkmark {
    @include flex-row;
    align-items: center;
    gap: 1rem;

    position: absolute;
    bottom: 2rem;

    @include mediaQuery(mobile) {
      bottom: 1rem;
    }

    & > svg {
      @include mediaQuery(mobile) {
        height: 2rem;
      }
    }

    & > p {
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-volume-one;

      @include mediaQuery(tablet) {
        display: none;
      }

      @include mediaQuery(mobile) {
        display: none;
      }
    }
  }

  &__title-text {
    @include flex-column;

    filter: drop-shadow($drop-shadow-strong);
  }

  &__title-name {
    @include flex-column;
    margin-bottom: 1rem;
  }

  &__title-description {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.4;

    @include mediaQuery(tablet) {
      font-size: 2.4rem;
    }

    @include mediaQuery(mobile) {
      font-size: 1.6rem;
    }
  }

  &__content {
    @include flex-column;
    gap: 16rem;

    @include mediaQuery(mobile) {
      gap: 4rem;
    }

    @include mediaQuery(tablet) {
      gap: 8rem;
    }
  }

  &__section {
    align-items: center;

    &--non-reverse {
      @include flex-row;
    }

    &--reverse {
      @include flex-row-reverse;
    }

    @include mediaQuery(mobile) {
      margin: unset;
    }

    @include mediaQuery(tablet) {
      margin: unset;
    }
  }

  &__textbox {
    position: relative;

    @include flex-column;
    gap: 4rem;

    @include glass-gradient;

    flex-basis: 52%;

    padding: 3.2rem;

    border: $border;
    border-radius: $border-radius;

    box-shadow: $drop-shadow-light;

    @include mediaQuery(mobile) {
      flex: 1;
      padding: 2.4rem !important;
      gap: 2rem;
    }

    @include mediaQuery(tablet) {
      flex: 1;
      padding: 3.2rem !important;
    }

    &:before {
      filter: blur(2px);
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 3px;
      content: "";
      z-index: -1;
    }
  }

  &__image {
    @include flex-column;
    align-items: flex-end;

    flex-basis: 60%;

    @include mediaQuery(mobile) {
      flex: 1;
    }

    @include mediaQuery(tablet) {
      flex: 1;
    }

    & > .image-container {
      border-radius: $border-radius;
      border: $border;

      box-shadow: $drop-shadow-light;
    }
  }

  &__video {
    @include flex-column;
    align-items: flex-end;

    flex-basis: 60%;

    @include mediaQuery(tablet) {
      flex: 1;
    }

    @include mediaQuery(mobile) {
      flex: 1;
    }
  }

  &__image-description {
    @include glass-bright-opaque;
    padding: 1.6rem 2.4rem;
    border-radius: $border-radius;
    border: $border;
    margin-top: -3.5rem;
    margin-right: 4.8rem;
    box-shadow: $drop-shadow-light;

    @include mediaQuery(mobile) {
      margin-right: 3rem;
      margin-top: -2rem;
      padding: 0.75rem 1.2rem;

      border-radius: $border-radius-mobile;

      & > p {
        font-size: 1.2rem;
      }
    }

    & > p {
      font-weight: 500;
    }
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes hover-big {
  from {
    translate: 0 6px;
  }
  to {
    translate: 0 -6px;
  }
}
