.hero {
  @include flex-column;

  align-items: center;
  justify-content: center;

  min-height: 100vh;

  @include mediaQuery(tablet) {
    padding-inline: $body-inline-padding-tablet;
  }

  @include mediaQuery(mobile) {
    padding-inline: $body-inline-padding-mobile;
  }

  &__text-animation-container {
    position: relative;

    height: 16rem;

    @include mediaQuery(desktop-large) {
      height: 18rem;
    }

    @include mediaQuery(desktop-xlarge) {
      height: 24rem;
    }

    @include mediaQuery(tablet) {
      height: 12vh;
    }

    @include mediaQuery(mobile) {
      height: 8rem;
    }
  }

  &__waveform-animation-container {
    animation-name: fadeUp;
    animation-duration: 0.75s;
    // animation-delay: 1s;
    animation-fill-mode: backwards;

    height: 18rem;

    @include mediaQuery(desktop-xlarge) {
      height: 24rem;
    }

    @include mediaQuery(desktop-xlarge) {
      height: 24rem;
    }

    @include mediaQuery(tablet) {
      height: 14vh;
    }

    @include mediaQuery(mobile) {
      height: 9rem;
    }
  }

  &__credits {
    animation: fadeUp;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    // animation-delay: 1.5s;
    animation-duration: 0.75s;
    margin-top: 6rem;
    margin-bottom: 8rem;
    height: 8rem;

    & > svg {
      height: 100%;
    }

    @include mediaQuery(desktop-large) {
      margin-top: 10rem;
      height: 10rem;
    }

    @include mediaQuery(desktop-xlarge) {
      height: 14rem;
      margin-top: 12rem;
      margin-bottom: 4rem;
    }

    @include mediaQuery(tablet) {
      margin-top: 4vh;
      height: 8vh;
    }

    @include mediaQuery(mobile) {
      margin-top: 5rem;
      height: 5rem;
    }
  }

  &__scroll-indicator {
    animation: hover, fadeUp;
    animation-duration: 1.25s, 0.75s;
    animation-timing-function: ease-in-out, linear;
    animation-delay: 0s, 2s;
    animation-iteration-count: infinite, 1;
    animation-direction: alternate, normal;
    animation-fill-mode: none, backwards;

    height: 8rem;

    & > svg {
      height: 100%;
    }

    @include mediaQuery(desktop-large) {
      height: 12rem;
    }

    @include mediaQuery(desktop-xlarge) {
      height: 16rem;
    }

    @include mediaQuery(tablet) {
      height: 8rem;
    }

    @include mediaQuery(mobile) {
      height: 5rem;
    }
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hover {
  from {
    translate: 0 0px;
  }
  to {
    translate: 0 -14px;
  }
}
