.navigation {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 999;

  width: 100%;

  @include flex-row;
  justify-content: space-between;
  align-items: center;

  padding-inline: $body-inline-padding-desktop-large;
  padding-block: 3.6rem;

  @include mediaQuery(mobile) {
    padding-inline: $body-inline-padding-mobile;
    padding-block: 2.5rem;
  }

  @include mediaQuery(tablet) {
    padding-inline: $body-inline-padding-tablet;
    padding-block: 3.5vh;
  }

  @include mediaQuery(desktop-xlarge) {
    padding-inline: $body-inline-padding-desktop-xlarge;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    transition: background-color 0.5s;
    transition-delay: 0.2s;
  }

  &.opaque {
    &::before {
      @include glass-dark;
    }

    &::after {
      transform: scaleX(1);
    }
  }

  &::after {
    position: absolute;
    content: "";

    bottom: 0;
    left: 0;

    height: 0;
    width: 100%;

    border-bottom: 1px solid rgba(255, 255, 255, 1);

    transition: transform 0.4s ease-in-out;
    transform: scaleX(0);
  }

  &__logo {
    @include flex-row;

    & > .vertical-logo {
      display: none;
    }

    & > .horizontal-logo {
      display: block;
    }

    @include mediaQuery(tablet) {
      padding-top: 0.2rem;
      height: 4.5rem;

      & > .vertical-logo {
        display: block;
      }

      & > .horizontal-logo {
        display: none;
      }

      & > svg {
        height: 100%;
      }
    }

    @include mediaQuery(mobile) {
      padding-top: 0.2rem;
      height: 2.75rem;

      & > .vertical-logo {
        display: block;
      }

      & > .horizontal-logo {
        display: none;
      }

      & > svg {
        height: 100%;
      }
    }
  }

  &__right,
  &__left {
    @include flex-row;
    justify-content: center;

    gap: 4rem;
  }

  &__right {
    @include mediaQuery(mobile) {
      gap: 2rem;
    }
  }

  &__menu-button {
    @include flex-row;
    align-items: center;

    padding-inline: 1rem;

    border-bottom: 1px solid #fff;

    gap: 1rem;

    z-index: 99;

    transition: 0.25s;

    & > svg {
      // translate: 0 1.1px;
      transition: 0.25s;

      &.rotated {
        rotate: 90deg;
      }
    }

    & > p {
      font-size: 2.4rem;
      color: #fff;
      font-weight: 300;
      transition: 0.25s;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      border-color: $color-text-black;

      & > p {
        color: $color-text-black;
      }

      & > svg {
        filter: invert(1);
      }
    }

    @include mediaQuery(tablet) {
      padding-inline: 0.75rem;

      & > p {
        font-size: 2.4rem;
      }
    }

    @include mediaQuery(mobile) {
      padding-inline: 0.75rem;

      & > p {
        font-size: 1.8rem;
      }
    }
  }

  &__language-switch {
    @include flex-row;
    @include flex-center;

    padding-inline: 1rem;

    min-width: 5.6rem;

    font-size: 2.4rem;
    color: #fff;
    font-weight: 300;

    border-bottom: 1px solid #fff;

    transition: 0.25s;

    &:hover {
      color: $color-text-black;
      border-color: $color-text-black;
      background-color: rgba(255, 255, 255, 0.8);
    }

    @include mediaQuery(tablet) {
      font-size: 2.4rem;
      min-width: 5.6rem;
    }

    @include mediaQuery(mobile) {
      font-size: 1.8rem;
      min-width: 4.8rem;
    }
  }

  &__menu-container {
    position: relative;
  }

  &__menu {
    position: absolute;

    top: 10rem;

    @include flex-column;
    justify-content: space-between;

    gap: 0.5rem;

    padding: 2rem;

    border: $border;
    border-width: 1px;
    border-radius: $border-radius;

    @include glass-dark;

    list-style: none;
    overflow: clip;

    @include mediaQuery(tablet) {
      top: 10vh;
      right: -10.5rem;
    }

    @include mediaQuery(mobile) {
      top: 8rem;
      right: -7rem;
    }

    & > li {
      border-radius: 4px;
      overflow: hidden;
      display: flex;

      & > a {
        display: block;
        font-size: 1.8rem;
        margin: 0.5rem 1rem;
        padding: 0.5rem;

        color: #fff;
        opacity: 0.75;
        font-weight: 300;
        text-decoration: none;
        white-space: nowrap;
        font-size: 2rem;

        background-color: none;
        border-bottom: 1px solid #fff;

        transition: 0.25s;

        @include mediaQuery(mobile) {
          font-size: 1.4rem;
        }

        @include mediaQuery(tablet) {
          font-size: 1.8rem;
        }

        // &:hover,
        // &:active,
        // &.active {
        //   color: $color-text-black;
        //   border-color: $color-text-black;
        // }

        &.volume-one:hover,
        &.volume-one:active,
        &.volume-one.active {
          background-color: rgba($color: $color-volume-one, $alpha: 0.8);
        }

        &.volume-two:hover,
        &.volume-two:active,
        &.volume-two.active {
          background-color: rgba($color: $color-volume-two, $alpha: 0.8);
        }

        &.volume-three:hover,
        &.volume-three:active,
        &.volume-three.active {
          background-color: rgba($color: $color-volume-three, $alpha: 0.8);
        }

        &.volume-four:hover,
        &.volume-four:active,
        &.volume-four.active {
          background-color: rgba($color: $color-volume-four, $alpha: 0.8);
        }

        &.volume-five:hover,
        &.volume-five:active,
        &.volume-five.active {
          background-color: rgba($color: $color-volume-five, $alpha: 0.8);
        }

        &.volume-six:hover,
        &.volume-six:active,
        &.volume-six.active {
          background-color: rgba($color: $color-volume-six, $alpha: 0.8);
        }

        &.volume-seven:hover,
        &.volume-seven:active,
        &.volume-seven.active {
          background-color: rgba($color: $color-volume-seven, $alpha: 0.8);
        }

        &.volume-eight:hover,
        &.volume-eight:active,
        &.volume-eight.active {
          background-color: rgba($color: $color-volume-eight, $alpha: 0.8);
        }
      }
    }
  }
}
