* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
picture {
  display: block;
  user-select: none;
  width: 100%;
}

input,
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
}

select {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;

  outline: inherit;
}

a {
  cursor: pointer;
}

textarea {
  background: none;
  color: inherit;
  font: inherit;

  outline: inherit;
}

select {
  appearance: none;
  -webkit-appearance: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
